<p>fileupload works!</p>
<!-- <br><br><br>
<div>
    <input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>
   
    <div class="drop-box" ng2FileDrop
         [ngClass]="{'dragover': isDropOver}"
         [uploader]="uploader"
         (fileOver)="fileOverAnother($event)"
         (click)="fileClicked()">
      <span class="drag-in-title">Import or drag file here</span>
      <span class="drag-over-title">Drop the file</span>
    </div>
  </div> -->

<mat-card>
    <form [formGroup]="uploadForm" (ngSubmit)="uploadSubmit()">
      <mat-card-content>
        <mat-form-field class="form-field">
          <mat-label>Select Document Type</mat-label>
          <mat-select formControlName="type" required>
            <mat-option value="Passport">Passport</mat-option>
            <mat-option value="Driving_license">Driving License</mat-option>
            <mat-option value="PAN">PAN</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <input formControlName="document" type="file" ng2FileSelect  [uploader]="uploader" multiple/><br/>
        <br>
        <div class="drop-zone">
        <div ng2FileDrop [uploader]="uploader" class="drop-zone">
           Drag and drop files to upload
        </div>
        </div>
        <table>
          <thead>
          <tr>
            <th width="90%">
              File Name
            </th>
            <th width="10%">
              Remove
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
            <th width="90%">
              (NaN MB)
            </th>
            <th class="text-center" width="10%">
              <mat-icon (click)="item.remove()">delete</mat-icon>
            </th>
          </tr>
          </tbody>
        </table>
        <br>
        <button mat-raised-button color="accent" type="submit">Upload Data</button>
      </mat-card-content>
    </form>
</mat-card>
