<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Add Quotes</strong>
        </div>
        <form action="" method="POST" #quoteFrm="ngForm" (ngSubmit)="addQuotes()" class="form-horizontal">
         <div class="card-body">            
         <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select3">Select AppId</label>
              <div class="col-md-9">
                <select id="select3" [(ngModel)]="quote.appId" name="appId" class="form-control form-control-sm" required>
                  <option value="0">Please select</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>
          <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Site Url</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="quote.siteUrl" name="siteUrl" class="form-control" placeholder="Site Url" required>
              </div>
            </div> 
             <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Meta Keywords</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="quote.metaKeywords" name="metaKeywords" class="form-control" placeholder="Meta Keywords">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Page Count</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="quote.pageCount" class="form-control" name="pageCount" placeholder="Page Count" required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Auther Name</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="quote.autherName" class="form-control" name="autherName" placeholder="Auther Name" required>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Quote Max Count</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="quote.quoteMaxChars" class="form-control" name="quoteMaxChars" placeholder="Quote Max Count" required>
              </div>
            </div> 

        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Reset</button>
        </div>
      </form>

      </div>
    </div>

  </div>
  <!--/.row-->

</div>