

<div *ngIf="quote">
    <h2>{{quote.autherName | uppercase}} Details</h2>
    <div><span>Id: </span>{{quote.id}}</div>
    <div>
        <p>
            Title: {{quote.autherName}}
        </p>
        <p>{{quote.quoteContent}} </p>
        <p>
            URL: {{quote.siteUrl}}
        </p>
    </div>
    <button (click)="goBack()">go back</button>
</div>