<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Quotes</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>ID</th>
                  <th>Quotes Content</th>
                  <th>Site URL</th>
                  <th>Auther Name</th>
                  <th class=" text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let quote of quotesList; let i=index">
                  <td>{{ i+1 }}</td>
                  <td>{{quote.quoteContent}}</td>
                  <td>{{quote.siteUrl}}</td>
                  <td>{{quote.autherName}}</td>
                  <td>
                    <nav>
                      <a [routerLink]="['quotedetail',quote.id]">Detail</a>
                      <a routerLink="/edit/{{quote.id}}">Edit</a>
                    </nav>
                    <!-- <a [routerLink]="['/userEdit',usr.userId]" ><input type="button" class="btn" value="Edit"></a>&nbsp;&nbsp;
                 <a (click)="editUser(usr.userId)"><input type="button" class="btn" value="Edit"></a> 
                <a (click)="deleteUser(usr.userId)"><input type="button" class="btn btn-danger" value="Delete"> -->
                    <button title="delete quote" (click)="deleteQuote(quote.id)">x</button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>