<!-- Toolbar -->
<!-- <mat-toolbar color="primary">
  <div><a href="https://de.maharashtra.gov.in/" target="_blank" class="positronx">MyGov</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar> -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--  <span>HOME</span> -->
       <span>HOME</span>
       <span class="spacer"></span>
       <a mat-button routerLink="/app-role-master">Add Role</a>
       <a mat-button routerLink="/register">Registration</a>
       <a mat-button routerLink="/users">Show User List</a>
       <a mat-button routerLink="/app-mat">Mat Layout Demo</a>
       <a mat-button routerLink="/app-initiative">Initiative</a>
       <a mat-button routerLink="/app-social-login">Login With Social</a>

       
       <!-- <a mat-button routerLink="/datatable">DataTable</a>
       <a mat-button routerLink="/bulkOperation">BulkOperation</a>
       <a mat-button routerLink="/homePageBannerList">HomePageBannerList</a> -->
    </mat-toolbar-row>
    
 </mat-toolbar>
<router-outlet></router-outlet>