mat-grid-tile {
  background:lightcoral;
}
mat-grid-list {
    width: 80%;
    max-width: 100%;
    position: relative;
    border-radius: 2px;
    padding: 10px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url("../../../assets/image/no_profile.png");
    background-size: cover;
  }
/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }