<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-striped" align="center">
            <tr>
                <th>Role Id</th>
                <th>Role Name</th>
                <th>User Name</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let usr of activityList; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ usr.activityName }}</td>
                <td>{{ usr.userModel.userName }}</td>
                <td><a (click)="editActivity(usr.activityId)"><input type="button" class="btn" value="Edit"></a>&nbsp;&nbsp;
                    <a (click)="deleteActivity(usr.activityId)"><input type="button" class="btn btn-danger" value="Delete"></a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-4" [hidden]="!isAdd">
        <br>
        <div class="row">
            <div class="col-md-12">
                <h4>Add Activity</h4>
            </div>
        </div>
        <form #saveActivity="ngForm" (ngSubmit)="addActivity()">
            <input type="hidden" name="userModel.userId" [(ngModel)]="activity.userModel.userId" #name="ngModel" id="userId"> 
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="activityName"></label>
                    <input type="text" placeholder="Enter Activity Name" name="activityName" [(ngModel)]="activity.activityName" title="Enter Activity Name"  required #name="ngModel" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Add">
            </div>
        </div>
        </form>
    </div>
    <div class="col-md-4" [hidden]="isAdd">
        <br>
        <div class="row">
            <div class="col-md-12">
                <h4>Edit Activity</h4>
            </div>
        </div>
        <form #saveActivity="ngForm" (ngSubmit)="updateActivity()">
            <input type="hidden" name="userModel.userId" [(ngModel)]="activity.userModel.userId" #name="ngModel" id="userId"> 
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="activityName"></label>
                    <input type="text" placeholder="Update Activity Name" name="activityName" [(ngModel)]="activity.activityName" title="Enter Activity Name"  required #name="ngModel" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-success" value="Update">&nbsp;&nbsp;
                <input type="button" class="btn btn-warning" (click)="cancelEdit()" value="Cancel">
            </div>
        </div>
        </form>
    </div>
 </div>