<br>
<h3>Login Form</h3>
<div class="row" [hidden]="!loginResult">
    <div class="col-md-12">
        <p style="color: red;">{{ loginMessage }}</p>
    </div>
</div>
<form action="" method="POST" #loginFrm="ngForm" (ngSubmit)="login()">
<div class="row">
    <div class="col-md-12">
            <div class="form-group">
                <label for="userEmail">Enter User Email:- </label>
                <input type="email" class="form-control"  [(ngModel)]="user.userEmail" name="userEmail"  data-toggle="tooltip"   
                     data-placement="right" title="Enter User Email"  required #name="ngModel">  
            </div>
        </div>
        <div class="col-md-12">
                <div class="form-group">
                    <label for="userPassword">Enter Password:- </label>
                    <input type="password" class="form-control"  [(ngModel)]="user.userPassword" name="userPassword"  data-toggle="tooltip"   
                         data-placement="right" title="Enter User Password"  required #name="ngModel">  
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right" style="align-content: center;">
            <button type="submit" class="btn btn-success">Login</button>  
            </div>
</div>
</form>
<input type="button" (click)="callLive()" value="FeedbackLive">