<mat-card-content>

    <table mat-table [dataSource]="userDataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            
        </ng-container> -->
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>Sr.No</th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
          </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName + element.lastName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="User Name">
            <th mat-header-cell *matHeaderCellDef> User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.roleMaster}} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> status </th>
            <td mat-cell *matCellDef="let element"> {{element.statusMaster}} </td>
        </ng-container>
        <ng-container matColumnDef="IsSuperAdmin">
            <th mat-header-cell *matHeaderCellDef> IsSuperAdmin </th>
            <td mat-cell *matCellDef="let element"> {{element.isSuperAdmin}} </td>
        </ng-container>
        

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <td mat-cell *matCellDef="let element" class="example-button-row">            
                <button mat-raised-button color="primary" (click)="onEdit(element.id)">Edit</button>
                <button mat-raised-button color="warn" (click)="onDeleteRole(element.id)">Delete</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsName"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsName;"></tr>
    </table>
</mat-card-content>



<!-- <mat-card>
  <mat-card-title>User List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        <img mat-list-avatar src="{{user.profileImage}}" alt="{{user.username}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/user-edit', user.id]">{{user.username}}</a>
          <a mat-button [routerLink]="['/user-edit', user.id]">{{user.email}}</a>
        </h3>
      
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  
 <button mat-fab color="primary" [routerLink]="['/user-add']">Add</button>
</mat-card> -->

<!-- <div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="card" >
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h3>Recent Posts</h3>
      </mat-card-title>
      <mat-card-content>
          <div class="example-container mat-elevation-z8">
            <mat-list>
              <mat-list-item *ngFor="let user of users">
                <img mat-list-avatar src="{{user.profileImage}}" alt="{{user.username}}">
                <h3 mat-line>
                  <a mat-button [routerLink]="['/user-edit', user.id]">{{user.username}}</a>
                  <a mat-button [routerLink]="['/user-edit', user.id]">{{user.email}}</a>
                </h3>   
                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a
                        type="button">
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                  </mat-cell>
                </ng-container>           
              </mat-list-item>
            </mat-list>

            </div>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->



















<!-- <div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container> 
     
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div> -->
<!-- <BR><BR><BR>
    
<div class="wrapper">

    <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
            <input matInput #filter placeholder="Filter issues">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> user Name </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        actions -->
        <!-- <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button color="primary" (click)="addNew()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button color="accent"
                    (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



    </table> --> 

    <!-- Angular 8 pagination -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div> -->
<!-- <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>USername</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td><button (click)="deleteEmployee(user.id)" class="btn btn-danger">Delete</button>
                <button (click)="employeeDetails(user.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->