.drop-box {
    cursor: pointer;
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 40px;
  }
   
  .drag-over-title {
    display: none;
  }
   
  .drop-box.dragover {
    opacity: 0.6;
  }
   
  .drop-box.dragover .drag-over-title {
    display: block;
  }
   
  .drop-box.dragover .drag-in-title {
    display: none;
  }
   
  input[type='file'] {
    display: none;
  }

  .card {
    min-width: 80%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  a {
    cursor: pointer;
  }