<div style="text-align:center">
	<h1>{{ title }}</h1>

	<button (click)="onClick()" class="btn btn-primary">Click Me</button>
	
	<textarea name="content" id="txtEditor" class="Editor-editor"
											style="overflow: auto;"></textarea>
</div>