<h1>
    Log in
</h1>

<button (click)="socialSignIn('facebook')" class="fa fa-facebook"></button>
<button (click)="socialSignIn('google')" class="fa fa-google"></button>    
<button (click)="githubSignInTS('github')"  class="fa fa-github"></button>    

