<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Admin User</mat-card-title>
      </mat-card-header>

      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="example-form" #registerFrm="ngForm">
        <label class="hoverable marginRight" for="fileInput">
          <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" class="profileImg">
          <div class="hover-text">Choose file</div>
          <div class="background"></div>
        </label>
        <input id="fileInput" type='file' (change)="fileProgress($event)">
        <button *ngIf="url" (click)="delete()">delete</button>

        <mat-checkbox id="isSuperAdmin" class="example-section" color="primary" name="isSuperAdmin"
          formControlName="isSuperAdmin">Is Super
          Admin ?</mat-checkbox>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName" name="firstName" id="firstName"
            [(ngModel)]="user.firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" name="lastName" id="lastName"
            [(ngModel)]="user.lastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="User Name" formControlName="username" name="username" id="username"
            [(ngModel)]="user.username">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" name="email" formControlName="email" id="email" [(ngModel)]="user.email">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" name="password" id="password"
            [(ngModel)]="user.password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm Password" formControlName="confirmPassword" name="confirmPassword"
            id="confirmPassword" [(ngModel)]="user.confirmPassword">
        </mat-form-field>
        <!-- <h4>Basic mat-select</h4> -->
        <mat-form-field>
          <mat-label>Select Status</mat-label>
          <mat-select formControlName="statusMaster" [(ngModel)]="user.statusMaster">
            <mat-option *ngFor="let status of statusList" [value]="status.id">
              {{status.status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select Role</mat-label>
          <mat-select formControlName="roleMaster" [(ngModel)]="user.roleMaster">
            <mat-option *ngFor="let role of roleList" [value]="role.id">
              {{ role.roleName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div class="col-md-12">
          <div class="col-md-1">
            <div class="form-group">
              <label for="userPassword">&nbsp; </label>
              <img src="data:image/png;base64,{{ captchaModel.captchaImage }}" alt="Captcha Image">
            </div>
          </div>
        </div> -->   

        <mat-card class="marginRight">
          <mat-card-header>
            <img src="data:image/png;base64,{{captchaModel.captchaImage}}" alt="Captcha Image">
          </mat-card-header>
        </mat-card>

        <mat-form-field>
          <input matInput type="number" formControlName="captchaEnter" class="form-control" placeholder="Enter Captcha"
            [ngClass]="{ 'is-invalid': submitted && f.captchaEnter.errors }" name="captchCode" data-toggle="tooltip"
            data-placement="right" title="Enter Captcha">
          <div *ngIf="submitted && f.captchaEnter.errors" class="invalid-feedback">
            <div style="color: red;" *ngIf="f.captchaEnter.errors.required">Captcha is required</div>
          </div>
        </mat-form-field>

        <div class="example-button-row">
          <button mat-raised-button color="primary" type="submit">Save</button>
          <button mat-flat-button color="accent" type="reset">Clear</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>