/* for profile pic */
.profileImg {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 70px;
  width: 70px;
  border: 5px solid #000;
  border-radius: 50%;

}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}
/* End for profile pic */
.example-card {
  max-width: 100%;
  min-height: 70%;

}
mat-form-field {
  margin-right: 12px;
}
.marginRight{
  margin-right: 12px;
}
.example-form {
  min-width: 200px;
  max-width: 400px;
  width: 100%;
} 
.example-full-width {
  width: 100%;
}
td {
  padding-right: 10px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 12px;
}