<div [hidden]="isEdit">
<div class="row">
    <table class="table table-bordered table-striped" align="center">
        <tr>
            <th>UserId</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let usr of userList; let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ usr.userName }}</td>
            <td>{{ usr.userEmail }}</td>
            <td><a [routerLink]="['/userEdit',usr.userId]" ><input type="button" class="btn" value="Edit"></a>&nbsp;&nbsp;
                <!-- <a (click)="editUser(usr.userId)"><input type="button" class="btn" value="Edit"></a> -->
                <a (click)="deleteUser(usr.userId)"><input type="button" class="btn btn-danger" value="Delete"></a></td>
        </tr>
    </table>
</div>
</div>
<div [hidden]="!isEdit">
        <br>
        <h3>Update User Form</h3>
        <form action="" method="POST" #registerFrm="ngForm" (ngSubmit)="updateUser()">
            <input type="hidden" name="userId" [(ngModel)]="user.userId" #name="ngModel">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="userName">User Name:- </label>
                    <input type="text" class="form-control"  [(ngModel)]="user.userName" name="userName"  data-toggle="tooltip"   
                         data-placement="right" title="User Name"  required #name="ngModel"> 
                </div>
            </div>
            <div class="col-md-12">
                    <div class="form-group">
                        <label for="userEmail">User Email:- </label>
                        <input type="email" class="form-control"  [(ngModel)]="user.userEmail" name="userEmail"  data-toggle="tooltip"   
                             data-placement="right" title="Enter User Email"  required #name="ngModel">  
                    </div>
                </div>
                <div class="col-md-12">
                        <div class="form-group">
                            <label for="userPassword">Enter Password:- </label>
                            <input type="password" class="form-control"  [(ngModel)]="user.userPassword" name="userPassword"  data-toggle="tooltip"   
                                 data-placement="right" title="Enter User Password"  required #name="ngModel">  
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6 pull-right" style="align-content: center;">
                    <button type="submit" class="btn btn-success">Update</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" (click)="cancelEditUser()">Cancel</button>  
                    </div>
        </div>
        </form>
</div>