<!-- <h1>role-master works!</h1> -->
<div class="login-wrapper" fxLayout="column" fxLayoutAlign="top">
    <div class="col-md-4" [hidden]="isEdit">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Add Role</mat-card-title>
            </mat-card-header>
            <form class="example-form" fxLayout="column" (ngSubmit)="onSubmitRole()" [formGroup]="roleMasterForm">
                <input type="hidden" name="siteId" formControlName="siteId" [(ngModel)]="addRole.siteId.id">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Role Name" formControlName="roleName" id="roleName"
                            [(ngModel)]="addRole.roleName">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="roleDescription" placeholder="Role Description"
                            [(ngModel)]="addRole.roleDescription">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="roleOrder" placeholder="Role Order"
                            [(ngModel)]="addRole.roleOrder">
                    </mat-form-field>
                </mat-card-content>
                <div class="example-button-row">
                    <button mat-flat-button color="primary" type="submit">Save</button>
                    <button mat-flat-button color="accent" type="button" (click)="onCancelSave()">Cancel</button>
                </div>
            </form>
        </mat-card>
    </div>
    <div class="col-md-4" [hidden]="!isEdit">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Edit Role</mat-card-title>
            </mat-card-header>
            <form class="example-form" fxLayout="column" (ngSubmit)="onUpdateRole()" [formGroup]="roleMasterForm">
                <input type="hidden" name="id" formControlName="id" [(ngModel)]="addRole.id">
                <!-- <input type="hidden" name="siteId" formControlName="siteId" [(ngModel)]="addRole.siteId.id" value="1"> -->
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Role Name" formControlName="roleName" id="roleName"
                            [(ngModel)]="addRole.roleName">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="roleDescription" placeholder="Role Description"
                            [(ngModel)]="addRole.roleDescription">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="roleOrder" placeholder="Role Order"
                            [(ngModel)]="addRole.roleOrder">
                    </mat-form-field>
                </mat-card-content>
                <div class="example-button-row">
                    <button mat-flat-button color="primary" type="submit">Update</button>
                    <button mat-flat-button color="accent" (click)="onCancelEdit()" type="button">Cancel</button>
                </div>
            </form>
        </mat-card>
    </div>
    <!-- <mat-card>
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Role Details</h3>
        </mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let role of roles">
                  
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a type="button">
                                <mat-icon class="icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card> -->
    <mat-card-content>

        <table mat-table [dataSource]="roleDataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="roleName">
                <th mat-header-cell *matHeaderCellDef> Role Name </th>
                <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="roleDescription">
                <th mat-header-cell *matHeaderCellDef> Role Description </th>
                <td mat-cell *matCellDef="let element"> {{element.roleDescription}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="roleOrder">
                <th mat-header-cell *matHeaderCellDef> Role Order </th>
                <td mat-cell *matCellDef="let element"> {{element.roleOrder}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <!-- <td mat-cell *matCellDef="let element">
                            <a type="button">
                                <mat-icon class="icon">edit</mat-icon>
                            </a>
                            <a type="button">
                                    <mat-icon class="icon">delete</mat-icon>
                            </a>
                        </td> -->
                <td mat-cell *matCellDef="let element" class="example-button-row">
                    <!-- <input type="button" (click)="onEdit(element.id)" class="btn"
                        value="Edit">&nbsp;&nbsp; -->
                    <!-- <a (click)="editUser(usr.userId)"><input type="button" class="btn" value="Edit"></a> -->
                    <!-- <a (click)="onDeleteRole(element.id)"><input type="button" class="btn btn-danger"
                            value="Delete"></a> -->
                    <button mat-raised-button color="primary" (click)="onEdit(element.id)">Edit</button>
                    <button mat-raised-button color="warn" (click)="onDeleteRole(element.id)">Delete</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsName"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsName;"></tr>
        </table>
    </mat-card-content>
</div>