<nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
        <ul class="navbar-nav" [hidden]="!loginResults">  
          <li class="nav-item ">  
            <a routerLink="login-user" class="nav-link" class="btn btn-primary active" role="button" >Login</a>  
          </li>   &nbsp;&nbsp;
          <li class="nav-item">  
            <a  routerLink="register-user" class="nav-link" class="btn btn-primary active" role="button" >Register</a>  
          </li>            
        </ul>
        <ul class="navbar-nav" [hidden]="loginResults">  
            <li class="nav-item ">  
              <a routerLink="user-list" class="nav-link" class="btn btn-primary active" role="button" >User List</a>  
            </li>&nbsp;&nbsp;   
            <li class="nav-item">  
              <a  routerLink="role-list" class="nav-link" class="btn btn-primary active" role="button" >Activities</a>  
            </li>&nbsp;&nbsp;
            <li class="nav-item pull-right">  
                    <a  (click)="logout()" class="nav-link" class="btn btn-primary active" role="button" >LogOut</a>  
                  </li>            
          </ul>  
      </nav>
<router-outlet></router-outlet> 