<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form"  (ngSubmit)="handleLogin()" [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username" id="username"  [(ngModel)]="user.username" >
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput formControlName="password" placeholder="Password" [(ngModel)]="user.password">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput formControlName="captchaCode" placeholder="Captcha" [(ngModel)]="user.captchaCode">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block"  type="submit">Log in</button>
      </form>
    </mat-card>  
  </div>