<br>
<h3>Registration Form</h3>
<div class="row">
        <div class="col-md-12">
                <div [hidden]="!submitted" style="width: 400px;">{{ submitMessage }}</div>
        </div>
</div>
<form action="" method="POST" #registerFrm="ngForm" (ngSubmit)="register()">
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="userName">Enter User Name:- </label>
            <input type="text" class="form-control"  [(ngModel)]="user.userName" name="userName"  data-toggle="tooltip"   
                 data-placement="right" title="Enter User Name"  required #name="ngModel">  
        </div>
    </div>
    <div class="col-md-12">
            <div class="form-group">
                <label for="userEmail">Enter User Email:- </label>
                <input type="email" class="form-control"  [(ngModel)]="user.userEmail" name="userEmail"  data-toggle="tooltip"   
                     data-placement="right" title="Enter User Email"  required #name="ngModel">  
            </div>
        </div>
        <div class="col-md-12">
                <div class="form-group">
                    <label for="userPassword">Enter Password:- </label>
                    <input type="password" class="form-control"  [(ngModel)]="user.userPassword" name="userPassword"  data-toggle="tooltip"   
                         data-placement="right" title="Enter User Password"  required #name="ngModel">  
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 pull-right" style="align-content: center;">
            <button type="submit" class="btn btn-success">Submit</button>  
            </div>
</div>
</form>